@charset "utf-8";
body{
    height: 3671px;
}
#perspective{
    margin: 0 auto;
    width: 95%;
    height: 480px;
    perspective: 500px;
    perspective-origin: center 168px;
    position: fixed;
    top: 10px;
    left: calc( (100vw - 95%)/2 );
}
#content{
    transform-style: preserve-3d;
    height: 100%;
}
#content section{
    margin: 1em auto;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.a{ 
    transform: translate3d(0px, 0px, 0px);
    background-color: #ffcccc33;
}
.b{ 
    transform: translate3d(0px, 0px, -1000px);
    background-color: #ccffcc33;

}
    .b ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }
    .b li{
        flex-wrap: wrap;
        list-style-type: none;
        border: 1px solid red;
        padding: 2em;
        margin: 1em;
    }
.c{ 
    transform: translate3d(0px, 0px, -2000px); 
    background-color: #ccccff33;
}
.d{ 
    transform: translate3d(0px, 0px, -3000px);
    background-color: #ffccff33;
}