@charset "utf-8";
body{
    height: 4780px;
}
#perspective{
    margin: 0 auto;
    width: 980px;
    height: calc( (980px / 6) * 3.5);
    perspective: 500px;
    perspective-origin: center 450px;
    position: fixed;
    top: 5vw;
    left: calc( (100vw - 980px)/2 );
}
#content{
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px);
    height: 90%;
    max-height: 800px;
    max-width: 1024px;
    transition: transform 1.5s ease-out;
}
#content section{
    margin: 1em auto;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 7px;
}
#content section ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
#content section li{
    flex-wrap: wrap;
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 4em;
    margin: 1em;
    background-color: white;
    position: relative;
}
#content section li.lb span{
    display: none;
    position: absolute;
    /* top:10px; */
    z-index: 10;
    width: 240px;
    height: 180px;
    border-radius: 5px;
    background-color: #fff;
    filter: drop-shadow(4px 4px 5px #999);
}
.a{ 
    transform: translate3d(0px, 0px, 0px);
    background-color: #ffcccc66;
}
.b{ 
    transform: translate3d(0px, 0px, -1000px);
    background-color: #ccffcc66;

}
.c{ 
    transform: translate3d(0px, 0px, -2000px); 
    background-color: #ccccff66;
}
.d{ 
    transform: translate3d(0px, 0px, -3000px);
    background-color: #ffccff66;
}
.e{ 
    transform: translate3d(0px, 0px, -4000px);
    background-color: #ffccff66;
}
.move{
    position: absolute;
    bottom: -30px;
    width: 10%;
    margin: 0 0 0 -5%;
}