@charset "utf-8";
body{
    height: 4670px;
}
#perspective{
    margin: 0 auto;
    width: 980px;
    height: calc( (980px / 6) * 3.5);
    perspective: 500px;
    perspective-origin: center 350px;
    position: fixed;
    top: 10px;
    left: calc( (100vw - 980px)/2 );
}
#content{
    transform-style: preserve-3d;
    height: 100%;
}
#content section{
    margin: 1em auto;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.a{ 
    transform: translate3d(0px, 0px, 0px);
    background-color: #ffcccc66;
}
.b{ 
    transform: translate3d(0px, 0px, -1000px);
    background-color: #ccffcc66;

}
    .b ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }
    .b li{
        flex-wrap: wrap;
        list-style-type: none;
        border: 1px solid red;
        padding: 4em;
        margin: 1em;
        background-color: white;
    }
.c{ 
    transform: translate3d(0px, 0px, -2000px); 
    background-color: #ccccff66;
}
.d{ 
    transform: translate3d(0px, 0px, -3000px);
    background-color: #ffccff66;
}
.e{ 
    transform: translate3d(0px, 0px, -4000px);
    background-color: #ffccff66;
}